:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;

  color-scheme: light dark;
  font-family: 'Nanum Gothic', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

html {
  height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

form {
  padding: 2em;
  background-color: hsl(0, 0, 100%);
}

form label {
  display: block;
  font-size: 1.2rem;
}

input {
  border: 2px solid rgb(48, 47, 47);
  margin: 1em 0;

  padding: 1em 0.5em;
  width: 80%;
  font-size: 1.2rem;
}

input[type="checkbox"] {
  height: 1.5em;
  width: 1.5em;
  vertical-align: middle;
}

input[type="checked"]:checked {
  background: url("./public/check.svg") no-repeat center / 75% auto;
}

input:invalid:focus {
  border: 2px solid crimson;
}

body {
  height: 100%;
  display: grid;
  grid-template-rows: 10% 1fr 10%;

}



h1 {
  font-size: clamp(2rem, 2rem + 10vw, 3rem);
  font-weight: 800;
  line-height: 1.1;
}

h2 {
  font-size: clamp(1.5rem, 1.5rem + 10vw, 2rem);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  button {
    background-color: #535bf2;
    color: #fff;
  }

  .modal {
    background-color: hsl(0, 0%, 98%);
    color: black;
    font-weight: 600;
  }

  button:hover {
    background-color: #656ac8;
  }

  .main-section h2 {
    background-image: linear-gradient(134deg, #f0437a 25%, #3D6F8E 25%, #3D6F8E 50%, #f0437a 50%, #f0437a 75%, #3D6F8E 75%, #3D6F8E 100%);
    background-size: 55.61px 57.58px;
  }
}

@media (prefers-color-scheme: light) {
  button {
    background-color: #212227;
    color: #fff;
  }

  .modal {
    background-color: rgb(58, 57, 57);
    color: rgb(246, 243, 243);
    font-weight: 600;
  }

  button:hover {
    background-color: #363636;
  }

  .main-section h2 {
    background-image: linear-gradient(134deg, #f0437a 25%, #3D6F8E 25%, #3D6F8E 50%, #f0437a 50%, #f0437a 75%, #3D6F8E 75%, #3D6F8E 100%);
    background-size: 55.61px 57.58px;
  }
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;


}

header,
main,
footer {
  width: min(80%, 1200px);
  margin: 0 auto;
}

header button {
  display: flex;
  align-items: center;
}

footer {
  text-align: center;
}

/* modal */

.modal {
  position: fixed;
  min-height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 1rem;

  padding: 0em 0em;

}


.hidden {
  display: none;
}

#close-modal {
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;

  font-weight: 900;
  scale: 1.5;

}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(3px);
  z-index: 1;
}

.modal {
  z-index: 9;
}


.add-book span {
  font-size: 2rem;
  font-weight: 900;
}

.book-cards {
  display: flex;
  align-items: start;
  gap: 2.4rem;
  flex-wrap: wrap;

  padding-top: 2vmin;
}

.card {
  width: min(80%, 200px);
  border-radius: 50px;
  background: #415ce1;
  box-shadow: 20px 20px 60px #374ebf,
    -20px -20px 60px #4b6aff;

  padding: 1em 2em;
  font-family: Helvetica, sans-serif;
  font-size: 1.125rem;
  display: block;

  position: relative;
}

.card p {}


#delete--book{
  position: absolute;
  bottom: 10%;
  font-size: 2.5rem;
  right: 10%;

  cursor: pointer;
}

#delete--book:hover{
  -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}







/* neomorphic checkbox */
.switch {
  --false: #E81B1B;
  --true: #009068;

}

input[type=checkbox] {
  appearance: none;
  height: 2rem;
  width: 5rem;
  background-color: #fff;
  position: relative;
  border-radius: .2em;
  cursor: pointer;
}

input[type=checkbox]::before {
  content: '';
  display: block;
  height: 1.9em;
  width: 1.9em;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: calc(1.9em/2 + .3em);
  background-color: var(--false);
  border-radius: .2em;
  transition: .3s ease;
}

input[type=checkbox]:checked::before {
  background-color: var(--true);
  left: calc(100% - (1.9em/2 + .3em));
}

/* animation for shake-horizontal: animista css */

/* ----------------------------------------------
 * Generated by Animista on 2023-3-1 12:34:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
